*{
   background: rgb(15, 15, 15);
   color: whitesmoke;
}

.top-navbar{

   position: fixed;
   top: 0;
   width: 100%;
   height: 65px;
   border-bottom: 1px solid rgb(255, 255, 255);
}

.top-navbar .nav-head{
   position: fixed;
   top: 0;
   left: 5%;
   font-family: 'Mukta', sans-serif;
   font-size: 30px;
   font-weight: 600;
}

.top-navbar .nav-menu{
   position: fixed;
   width: 50%;
   right: 0;
   top: 3.4%;
   text-align: center;
}

.top-navbar .nav-menu a{
   padding-left: 20px;
   padding-right: 20px;
   text-decoration: none;
   font-family: 'Mukta', sans-serif;
   font-size: 25px;
   font-weight: 550;
}

.slider-cell{
   position: relative;
   font-family: 'Poppins', sans-serif;
   text-align: center;
   width: 50%;
   height: 500px;
   top: 100px;
   background-color: rgb(94, 94, 94);
   outline: 10px solid rgb(15, 15, 15);
   padding: 10px;
}

.slider-cell .slider-photo{
   position: relative;
   width: 740px;
   height: 400px;
   background-color: url(./1.png);
}

.carousel-bottom-head{
   position: relative;
   font-family: 'Poppins', sans-serif;
   font-size: 50px;
   top: 100px;
   text-align: center;
}

.content-menu-slider-vl{
   position: relative;
   width: 100%;
   top: 20px;
   border-bottom: 1px solid rgb(255, 255, 255);
}

.v{
   height: 10000px;
}

